a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

header {
  background-color: #7d41b7;
  margin-bottom: 2%;
}

h1 {
  margin: 20px;
}

.navbar-brand {
  color: #fff;
  text-shadow: 2px black;
}

.btn{
  border-style: groove;
  border-width: 1.5px;
  min-width: fit-content;
}

.btn:disabled{
  opacity: 1;
}

.btn-primary {
  color: #fff;
  background-color: #1f9a9c;
  border-color: #41b5b7;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #0e7475;
  border-color: #0e7475;
}

.btn-success{
  background-color: #25b125;
  border-color: #25b125;
}
.btn-primary:hover{
  background-color: #1a787a;
  border-color: #1a787a;
}

#question {
  margin: 15px;
}

#answer{
  margin: 10px;
  max-width: 28%;
}

#categoryRow{
  align-items: center;
  margin: 20px 0;
}

#category-dropdown{
  width: fit-content;
  border-style: groove;
  border-width: 1.5px;
}

#category-label{
  width: fit-content;
}

#new-question{
  background-color:#090957;
}
